#page-title {
    text-align: center;          /* Centers the title */
    background-color: #4682B4;   /* Blue background */
    color: white;                /* White text */
    padding: 30px;               /* Space around the text */
    border-radius: 0px;          /* Rounded corners */
}


.container{
    margin: 0 auto;
    max-width: 960px;
    width:100%;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #F0F0F0;
}

input {
    padding: 8px;
    font-size: 16px;
    margin-right: 10px;
    width: 700px;
}

button {
    padding: 10px 20px;
    background-color: red;   /* red background */
    color: white;                /* White text */
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
}

#result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    max-width: 1600px;
}

#result h3 {
    margin: 0;
}

#result h4 {
    margin: 0 0 5px 0;
    color: #333;
}

#result p {
    margin-top: 5px;
}

.not-found {
    font-weight: bold; /* Bold text */
    color: red;        /* Red color */
}
